body{
    text-align:center;
    border:2px solid black;
}
#head_file{
    background-color:lightblue;
    color:darkviolet;
    padding:30px;
}
.link:hover{
    color:blue;
    padding:10px;
    background-color:lightgray;
}
.para{
    background-color:lightgreen;
    color:darkgreen;
    padding:20px;
} 
#foot_file{
    background-color:lightyellow;
    color:red;
    padding:30px;
}
