.container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:40px;
    flex-wrap:wrap;
    

}
.box{
    padding:20px;
    border:2px solid black;
    width:200px;
    margin:10px;
    background-color:pink;
    text-align:center;
    border-radius:10px;
    box-shadow:10px 2px darkgrey;
}
.button:hover {
     background-color: #9196c5; 
     color: white;
 }
.button{
    background-color: #baf6f6;
    color:black;
    padding:10px;
}