body{
    background-color:lightpink;
    text-align:center;
    border:2px solid black;
}
.head_file{
    color:darkviolet;
    padding:30px;
}
.link{
    color:blue;
    padding:10px;
    hover:color:darkblue;
}
.para1{
    color:darkgreen;
    padding:20px;
}
.para2{
    color:darkblue;
    padding:20px;
}   
.foot_file{
    color:red;
    padding:30px;
}
